@import "../styles/global.scss";

body {
  //background-color: black;
  color: black;
}

.Container {
  margin: 0px;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;

  background-image: url("../assets/Background.png");
  background-repeat: no-repeat;
  background-size: cover;

  @include small {
    background-image: none;
  }
}

.Characters-container {
  display: grid;
  gap: 1rem;
  grid-auto-flow: dense;
  grid-auto-rows: 18rem;
  grid-template-columns: repeat(2, minmax(min(100%, 20rem), 1fr));

  padding: 1rem;

  align-items: center;
  justify-items: center;

  @include medium {
    grid-auto-rows: 18rem;
    grid-template-columns: repeat(1, minmax(20rem, 1fr));
  }

  @include small {
    grid-auto-rows: 12rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }
}

.Container-filtro {
  width: 100%;
  color: white;
  font-size: 28px;
  text-align: center;

  @include small {
    font-size: 18px;
  }
}

.Container-buttons {
  width: 100%;

  display: flex;
  justify-content: space-evenly;

  @include small {
    display: flex;
    justify-content: space-around;
  }
}

.button {
  width: 288px;
  height: 67px;

  color: white;
  border-color: $button-hover;

  background: $border-color;
  border-radius: 4px;

  @include small {
    width: 140px;
    height: 43px;
  }
}

.button:hover {
  background: $button-hover;
}

.button:active {
  background: $color-primary;
}