@import "../../styles/global.scss";

form {
    width: 727px;
    height: 596px;
}

h1{
    margin-top: 30px;
    margin-left: 30px;

    @include small {
        margin-top: 0px;
        margin-bottom: 5px;
    }
}

.container-form{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    @include small {
        flex-direction: column;
        margin-top: 0px;
    }
}

.container-group-mobile {
    width: 100%;
    margin-top: 30px;
    display: flex;
    @include small {
        width: 350;
        display: flex;
        flex-direction: row;
    }
}

.form-group {
    width: 310px;

    @include small {
        margin: 0px 12px 0px 13px;
    }
}

.radio-group{
    @include small {
        position: absolute;
        left: 175px;
        bottom: 70px;
    }
}

label {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 32px;

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #263238;
}

input[type=text] {
    width: 310px;
    height: 73px;

    background: #e3e3e3;
    border-radius: 5.33333px 5.33333px 0px 0px;

    @include small {
        height: 35px;
    }
}

.TodoForm-buttonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;

    @include small {
        margin-top: 15px;
        width: 50%;
    }
}

button {
    width: 288px;
    height: 67px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    border: 4px solid $color-primary;
    box-sizing: border-box;
    border-radius: 4px;

    @include small {
        height: 50px;
    }
}
